p{
    font-family:sans-serif
}

.pickup--page--container{
    min-width:100%;
    min-height:100vh;
    background-color: #272727;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.pickup--content{
    width:clamp(50%, 50%, 80%);
    height:70vh;
    margin-top:20vh;
}

.pickup--box--container{
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.pickup--header{
    font-size:5rem;
    color:rgb(255, 255, 255);
    font-weight: 600;
    line-height: 1rem;
}

.pickup--input{
    width:clamp(30%, 500px, 90%);
    padding:12px;
    font-size: 1rem;
    border-radius: 25px;
    border:solid 1px #c4c4c4;
    padding-left:25px;
    margin-bottom: 40px;
}

.pickup--input:focus{
    outline:none;
}

.pickup--line--options{
    display:flex;
    justify-content: center;
    width:clamp(30%, 500px, 90%);
}

.footer{
    width:100%;
    background-color:#161616;
    height:10vh;
}

.footer--text{
    text-align:center;
    color:rgb(209, 209, 209);
    font-size: 1rem;
}

@media only screen and (max-width: 1200px) {
    .pickup--content{
        width:70%;
    }

    .pickup--results--text{
        font-size: 2.5rem;
    }
}

@media only screen and (max-width: 768px) {
    .pickup--content{
        width:80%;
    }
    .pickup--results--text{
        font-size: 2rem;
    }
}