.results--page--container{
    width:100%;
    min-height:100vh;
    background-color: #272727;
    
}

.results--header{
    font-size:2rem;
    color:rgb(255, 255, 255);
    font-weight: 500;
    line-height: 1rem;
    margin-left: 50px;
    margin-right:50px;
}

.results--nav{
    display:flex;
    flex-direction: row;
    align-items: center;
    width:100%;
    padding-top:20px;
    padding-bottom:30px;
    border-bottom: 1px solid rgb(75, 75, 75);
}

.results--input{
    width:clamp(30%, 500px, 90%);
    padding:12px;
    font-size: 1rem;
    border-radius: 25px;
    border:solid 1px #c4c4c4;
    padding-left:25px;
}

.result--content{
    margin-left:200px;
}

.showing--results--text{
    font-size: 1.25rem;
    color:rgb(161, 161, 161);
}

.showing--results--results{
    font-size: 1.25rem;
    color:rgb(73, 167, 255);
    font-style:italic;
}

.showing--results{
    display:flex;
    flex-direction: row;
}

.results--input:focus{
    outline:none;
}